body {
    overflow-x: hidden;
}

header.masthead {
  /*background-image: url("about.jpg") no-repeat center center scroll;*/
  background: url("../img/about.jpg") center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}